## ----------------------------------------------------------------------------
## JetBrains IDE usage
*.iml
# Ignore all of .idea
.idea/**/*
# Keep dictionary file
!.idea/
!.idea/dictionaries/
!.idea/dictionaries/project.xml

## ----------------------------------------------------------------------------
## VSCode  IDE usage
.calva/output-window/
.calva/repl.calva-repl
.classpath


# We keep clj-kondo, but ditch the cache
.clj-kondo/.cache
.cpcache

# Resources and test-files
resources/testdata/*.xml
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.nrepl-port
.portal/vs-code.edn
.project
.rebel_readline_history
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/checkouts
/classes
/target
